.row {
  border: 2px solid midnightblue;
  margin: 10px 0px 10px;
}

.ads {
  border: 1px dotted red;
  margin: 25px 0px 25px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
